<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/aboutus.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>
  <body>
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>
    <div class="about-page animate-bot">
      <div class="about ">
        <h1>about us</h1>
        <p>
          Ola everyone! We are the students of the
          <span class="bold green">Ramaiah University of Applied Sciences</span
          >. We have taken an initiative to bring students of RUAS as well as
          all the other Universities around to experience amazing technical
          events, unforgettable memories, and unlimited learning opportunities.
          We present to you the first-ever TechFest of RUAS,
          <span class="green">Aadhya 2020</span> . This fest is going to be a
          melting pot for the techies, a platform where you could showcase your
          talent, a launchpad for sowing the seed of passion and above all, a
          paragon of incredible human experience. Amidst the gleam of bonfires
          and some tech talk, we want to bring in people creating memories
          lasting for a lifetime. Aadhya aims to capture the vitality of the
          technological world succinctly, and we strive for Aadhya to be one of
          the premier fests of our nation. We aspire to broaden our horizons and
          strengthen plenteous creative brains framing the future. With “The
          Decade In Review” as its theme, the first edition of Aadhya brings to
          you a quick look covering all that has happened in past this decade.
          We invite you to share our vision and be a part of the legacy that
          carries forward technical excellence.
        </p>
      </div>
      <div class="theme">
        <h1>theme : the decade in review</h1>
        <p>
          The first edition of the Aadhya brings to you the theme, the Decade in
          Review. As the calendar turns to 2020, Aadhya 2020 invites you to
          pause and reflect on the last decade. There is no future without the
          past, so why not acknowledge it? This decade created a vast number of
          opportunities and helped the young generations to garner sufficient
          knowledge to put forth in the hope of creating a better tomorrow. Here
          this Aadhya 2020 talks about the events which occurred in the decade,
          and to start a new outlook , an outline of the past is a must.
        </p>
      </div>
      <span class="tech-partner">
        <h4>made with ❤️ by</h4>
        <img
          class="cynergy-logo"
          src="../assets/images/partners/cynergyLogo.png"
          alt=""
        />
      </span>
    </div>

    <!--jquery-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/jquery-ui.js"></script>
    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <script src="../scripts/nav.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
