<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- CSS AND OTHER BOOTSTRAP LINKS -->
  <!-- LINKED CSS -->
  <link rel="stylesheet" href="../styles/nav.css" />

  <link rel="stylesheet" href="../styles/eventlist.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- TITLE  -->
  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guests.html">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hackathon.html">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="teams.html">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <!-- Entire Event list-->
  <div class="section">
    <div class="top-container">
      <h1>
        competitions
      </h1>

      <div class="buttons">
        <a class="btn" href="passes.html">click here for extra discount</a>
      </div>
    </div>


    <!-- content -->

    <div class="container m-t-md">
      <!-- First row -->
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">bug squash</h3>

              <p class="card-text">This event is for all of the developers who are irritated by bugs. So bring your
                irritation to some use and help us squash those bugs. The more bugs killed, the more chances of being
                the winner! The rules are simple: find the error in the code provided to you. The errors could be the
                syntax, semantic, or logical errors. The languages in which the questions will be coded are C, Python
                and Java. The use of an IDE is not allowed. Bring out the debugger in you and prove it to yourself.

                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 1000</span></h5>

              </p>
              <a href="https://www.townscript.com/e/bugsquash-244003" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">
            <div class="card-block">
              <h3 class="card-title">build a net </h3>
              <p class="card-text">Neural networks are in hype these days. Building, training, testing, validation,
                oh, and don’t forget the dataset, play a very important role in creating these mysterious things.
                Want a taste of this? Get ready to construct your own dataset, build train and test your model in
                this competition and experience the thrill! Just bring your own laptop and done. Build A Net and,
                most importantly, build memories.</p>
              <br>
              <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
              <h5> prize: <span class="price">₹ 10500</span></h5>
              </p>
              <a href="https://www.townscript.com/e/build-a-net" class="btn reg-btn">register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> tech hunt</h3>
              <p class="card-text">How good are you at decoding? We assume you are good, but how good are you at
                decoding clues? Want to challenge yourself? So we bring you with our very own Treasure Hunt “TechHunt”.
                This is going to an information-based puzzle hunt, in which teams use their collective brainpower to
                solve clues. Now go ahead, ensemble with your mates and be ready for a run. There will be five
                objectives for your team, solve them first and be the winner.
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 8500</span></h5>
              </p>
              <a href="https://www.townscript.com/e/techhunt-321120" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> she hacks </h3>
              <p class="card-text">fast and furious? you heard it right. but this time, you will design a hovercraft and
                race it against others in the arena. the participants will be required to design a hovercraft within the
                dimensions of300mm×300mm. it should be manually or RC controlled. each team can have a maximum of 3
                members. use of ready-made store-bought hovercrafts will be considered as disqualification.<br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 12000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/shehacks-012411" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> code to survive </h3>
              <p class="card-text">Code is the new oxygen. The readability of your code tells how effectively you can
                write. For all the coders out there, this competition can be a platform to test their coding abilities.
                Coding under stressful environments and in a team (of two, in this case) is a must for any coder who’s
                worth their salt. Do you have what it takes? Buckle up folks, set your fingers, and get ready to code!
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 12000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/code-to-survive-412243" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


        <!-- eee+ece  events -->
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> DEBUGGING THE CIRCUIT</h3>
              <p class="card-text"> In this competition, the contestants are going to solve a series of problem
                statements based on electronics and come up with a final electronic circuit. There are going to be three
                rounds in this competition. In round 1, solve the given problem statement and come up with a
                circuit/logic design (individual). In round 2, based on the output from the previous round, participants
                would pair up, the one who is left out will be disqualified. The ones who qualify need to solve another
                problem statement. In the third round pair of two would be paired up again to make a team of 4, to solve
                the final problem combining the circuits from the previous rounds, the team to get the maximum bonus
                points by solving the sub-questions will be the winner.
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 4400</span></h5>
              </p>
              <a href="https://www.townscript.com/e/debugging-the-circuit-232401" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> OPTIMIS OMNIUM</h3>
              <p class="card-text"> Are you a crossword lover? Then take up this challenge to test your skills. With
                some ciphers and codes and questions from the world of technology, apply your wit, have some grit and
                all you will have is glory. This an event where participants will be made as a team of two and later on
                will get separated during the FUN RIDE. Now here is the catch: Wild card entry (In every round there
                will be a question given to all the eliminated participants, whoever comes out with the right answer
                WELCOME BACK TO THE GAME)!
                <br>
                <h5> when: <span class="price">day 1 - 03:00 pm</span></h5>
                <h5> prize: <span class="price">₹ 2250</span></h5>
              </p>
              <a href="https://www.townscript.com/e/optimis-omnium-122432" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">QUIZZARD</h3>
              <p class="card-text"> In this competition, the contestants will be asked questions on the theme of Aadhya,
                i.e., A Decade in Review. This event consists of a total of five rounds. In the first round, all the
                participants will be shown a set of pictures or a pictorial hint related to the questions. The second
                round is the rapid-fire round. In the third round, the teams will be asked some questions and each
                answer will carry some points. Round four is when and who. In this round participants have to answer who
                founded/invented something and/or when. The final round, the endgame, this round will contain questions
                based on historical moments under all four topics from the theme.
                <br>
                <h5> when: <span class="price">day 1 & day 3 - 03:00 pm</span></h5>
                <h5> prize: <span class="price">₹ 4000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/quizzard-044114" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title"> ELECKART</h3>
              <p class="card-text"> This competition will consist of four rounds. After each round, participants will
                either move forward to the next or will be disqualified. Participants will create circuits, come up with
                algorithms for solving problem statements, identify electronic components and much more. The students
                will be judged based on the design of the circuit, the compactness of the design, the efficiency and the
                desired output.
                <br>
                <h5> when: <span class="price">day 2 - 03:00 pm</span></h5>
                <h5> prize: <span class="price">₹ 3700</span></h5>
              </p>
              <a href="https://www.townscript.com/e/eleckart-323341" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>



        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">MAZE RUNNER</h3>
              <p class="card-text"> The path of success is not straight, it has hurdles. Aadhya brings to you
                MAZE-RUNNER. In this event, each team has to design a black line follower robot that should be capable
                of reaching the finish line. As we say the journey is more memorable than the destination, hence we
                provide curvy circuits, hilly path, a few breaks and junctions to explore the journey. Bot is expected
                to overcome all the challenges laid and achieve the success. Like all the good things, even your journey
                will be time bound. The faster you run the harder it is to defeat you.
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 9000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/mazerunner-100330" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>




        <!-- ase+aae events-->
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">Paper RC plane</h3>
              <p class="card-text"> Aadhya brings to you a competition to craft your RC paper planes and race them
                against each other. You see, the sky's the limit, so why limit the racing arena to the ground?
                Participants can also use an Android or iOS app as an RC. Each team can have a maximum of 3 members, and
                the duration will be for three hours — ₹ 300 is the entry fee for college students. The teams will be
                judged based on the flight speed, range and control of the paper plane. Participants are supposed to
                provide a technical description of the aircraft. So gather your folks, think together, design together,
                and FLY together! CASH PRIZE OF ₹1500 for 1st place and ₹1000 for 2nd place.

                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 2500</span></h5>
              </p>
              <a href="https://www.townscript.com/e/paper-rc-plane-202003" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">Hover Mania </h3>
              <p class="card-text"> FAST AND FURIOUS? You heard it right. But this time, you will design a hovercraft
                and race it against others in the arena. The participants will be required to design a hovercraft within
                the dimensions of 300mm×300mm. It should be manually/RC controlled. Each team can have a maximum of 3
                members. Use of Ready-made store-bought hovercrafts will be considered as disqualification. It is a
                three-hour event with an entry fee of ₹ 500. CASH PRIZE OF ₹3000 for 1st place and ₹1500 for 2nd place.

                <br>
                <h5> when: <span class="price">day 2 - 03:00 pm</span></h5>
                <h5> prize: <span class="price">₹ 4500</span></h5>
              </p>
              <a href="https://www.townscript.com/e/hover-mania-414000" class="btn reg-btn"> register.</a>
            </div>

          </article><!-- .end Card -->

        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">Balsa wood glider</h3>
              <p class="card-text"> Hey, get ready to design and model the glider of your dreams, because Aadhya brings
                to you an opportunity to showcase your skills. In this competition, the participants are required to
                make a glider model. The glider must pass through the designed frame i.e., limited span ( 400mm) .
                Each glider will be given three launches. The points will be awarded based on range, endurance and
                stability. Team with the highest points wins the competition. The balsa wood for making the glider will
                be provided by the organizers.

                <br>
                <h5> when: <span class="price">day 3</span></h5>
                <h5> prize: <span class="price">₹ 2500</span></h5>
              </p>
              <a target="_blank" href="https://drive.google.com/file/d/1JhS_UgmbRkfwcEOSUvP8wdsiTA9wo6Nm/view" class="btn reg-btn">
                rules.</a>
              <a href="https://www.townscript.com/e/balsa-competition-340111" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <!-- ce events -->
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">TOWN PLANNING </h3>
              <p class="card-text"> Town planning is the planning and design of all the new buildings, roads, and parks
                in a place to make them attractive and convenient for the people who live there. Prelims (based on
                building planning) will be conducted for each of the participants, and then based upon the results, Five
                teams each team of 5 members will proceed to the final round. For the final round, the participants have
                to come up with a plan on the spot and design a physical model. Other than the main materials, necessary
                stationary materials should be bought by the members participating.

                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 5000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/town-planning-001132" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>



        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">BRIDGE MODELLING </h3>
              <p class="card-text">Love bridges? Make one and get them tested through our robust testing techniques and
                if you rise up to be the best, your bride will connect you with your prize money! Prelims shall be
                conducted for each of the participants, and then based upon the results of prelims ten teams, each team
                of 3 members each shall proceed for the finale. The teams selected for the final round should build a
                bridge with the materials given. The bridge will be tested by applying loads on it. Main materials
                required to build the bridge will be given, necessary stationary should be brought by the participants.
                <br>
                <h5> when: <span class="price">day 3</span></h5>
                <h5> prize: <span class="price">₹ 2250</span></h5>
              </p>
              <a href="https://www.townscript.com/e/bridge-modelling-243403" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">CONCRETE DESIGN </h3>
              <p class="card-text">Concrete is produced by mixing cement, aggregate, and water in a defined proportion.
                To design a structural member made up of reinforced concrete, it is essential to study the concept of
                Structural Analysis, which describes how the structure will behave under different types of loads.
                Prelims would be conducted for all the ones who shall register themselves for this event. The prelims
                would be either a quiz or a questionnaire and based on the results ten teams, each team of 3 members
                will be the selected and are required to design the concrete for the given conditions and cast concrete
                molds.
                <br>
                <h5> when: <span class="price">day 2 -11:30 am</span></h5>
                <h5> prize: <span class="price">₹ 7000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/concrete-design-022230" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">SURVEY </h3>
              <p class="card-text">Surveying, you civil nerds need no explanation! Good at it? Give it a shot and pave
                your way to victory! Prelims shall be conducted for each of the participants, and then based upon the
                results ten teams, each team of 3 members shall proceed for the finale. For the final round, the
                participants are supposed to survey with the instruments provided.
                <br>
                <h5> when: <span class="price">day 1 -03:00 pm</span></h5>
                <h5> prize: <span class="price">₹ 2000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/survey-211420" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>



        <!-- me events -->
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">Make your Mechanism </h3>
              <p class="card-text">Each team of 2 will be challenged to make a mechanism shown to them using cardboard
                and pins. The type of mechanism to be made will be announced on the day of the event. Teams will have to
                carry their own tools (Scissors, cutters, glue, etc ). The event will proceed in 3 rounds with each
                round eliminating teams whose mechanism doesn't resemble the one shown to them. The team whose mechanism
                best mimics the one shown to them in the final round will be awarded first place. Mechanical, ASE and AE
                departments can take part in this competition.
                <br>
                <h5> when: <span class="price">day 1 -03:00 pm</span></h5>
                <h5> prize: <span class="price">₹ 3000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/make-your-mechanism-440141" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>


        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">Down Hill derby</h3>
              <p class="card-text">Whatever good things we build, end up building us. So we bring to you a platform to
                build your own car and race it against others. With this event being for school children, we want them
                to bring out the power of their imagination by designing how they want their car to look.

                Each team will be assigned a volunteer who is a college student to help them and will be provided with
                wooden blocks, nails, and wheels, out of which they have to design and build a car. The volunteer will
                only assist the teams during the fabrication phase and not during the design phase. The teams will have
                a total duration of 4 hours to completely design and fabricate their cars. Each team can have 2-3
                members.

                <br>
                <h5> when: <span class="price">day 3</span></h5>
                <h5> prize: <span class="price">₹ 1500</span></h5>
              </p>
              <a href="https://www.townscript.com/e/down-hill-derby" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">ScrapYard Wars </h3>
              <p class="card-text">How innovatively do you think you can come up with a design for a device? Want to
                challenge yourself? Well, build a device with the provided material and thrive out to be the best. The
                device to be made will only be disclosed at the time of the event. For now, all we can say is that this
                is going to be a water-splashing event. So get your folks ready. It is a team event (3-4 members).
                This is an eight-hour event with an entry fee of ₹800. Basic tools will be provided.
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am </span></h5>
                <h5> prize: <span class="price">₹ 5000</span></h5>
              </p>
              <a href="https://www.townscript.com/e/scrapyard-wars-222411" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class=" card ">

            <div class="card-block">
              <h3 class="card-title">Team CAD Assembly </h3>
              <p class="card-text">Teams of 2 members will be challenged to prepare a CAD model of a given component in
                the given amount of time. The team members will be separated before the start of the event and will not
                be allowed to communicate with each other. The first team member will be assigned an assembly whose
                detailed dimensions and the drawings will be provided and will have to only model the parts while the
                second member has to assemble the parts without having any information about the same. The teams have to
                coordinate and divide the total time duration between themselves. ME, ASE, AE departments can take place
                in the events (CATIA V5 will be the software used).
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am </span></h5>
                <h5> prize: <span class="price">₹ 1500</span></h5>
              </p>
              <a href="https://www.townscript.com/e/team-cad-assembly-214320" class="btn reg-btn">
                register.</a>
            </div>

          </article><!-- .end Card -->

        </div>

      </div>

    </div>
  </div>





  </div>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- lottie script -->
  <script src="../scripts/lottie.js"></script>
  <!-- nav script -->
  <script src="../scripts/nav.js"></script>

  <!-- bootstrap CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>