<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- CSS AND OTHER BOOTSTRAP LINKS -->
  <!-- LINKED CSS -->
  <link rel="stylesheet" href="../styles/nav.css" />

  <link rel="stylesheet" href="../styles/eventlist.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- TITLE  -->
  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guests.html">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hackathon.html">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="teams.html">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <!-- Entire Event list-->
  <div class="section body">
    <div class="top-container">
      <h1>
        extra curricular activities
      </h1>

      <div class="buttons">
        <a class="btn" href="passes.html">click here for extra discount</a>
      </div>
    </div>


    <!-- content -->

    <div class="container m-t-md">
      <!-- First row -->
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">games 'in-stall'ed</h3>

              <p class="card-text">Need a break from all the Tech-talks. We have fun party games with a twist, all day
                every day with new games every few hours. No hustle, on-spot registration for just ₹50 each. More than
                100 amazing prizes available. Try guessing what these games mean and visit us to play more of them!
                * Meme your memory
                * Whats in your air
                * Be a Ninja
                * Build the time tower
                Shhhhhh… Surprise events happening every day!!! So don’t miss them out.
                <br>
                <h5> when: <span class="price">day 1 & day 2 & day 3</span></h5>

              </p>

            </div>
          </article>
          <!-- .end Card -->

        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">open floor discussion</h3>

              <p class="card-text">Have strong opinions or want to speak your heart out? We got you the stage! From
                technical advancements to meme culture, we got everything from the past decade for you to discuss,
                deliver and debate. A platform for anyone and everyone! Make a difference or create an impact and win a
                token of appreciation from our end.
                <br>
                <h5> when: <span class="price">day 1 & day 2 & day 3</span></h5>

              </p>

            </div>
          </article>
          <!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">online events </h3>

              <p class="card-text">For all the social butterflies out there, here’s your chance to show your skills and
                talent. Make a “ Photo-Collage/ Poster”, “B-log/V-log” or take the “Mannequin challenge” when at “AADHYA
                2020”, show it to us by tagging our official social media handle and get the chance to get reposted.
                Some of the most beautiful portrayals of the event would also be rewarded with gifts and hampers.
                <br>
                <h5> when: <span class="price">day 1 & day 2 & day 3</span></h5>

              </p>

            </div>
          </article>
          <!-- .end Card -->

        </div>


        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">pubg </h3>

              <p class="card-text">Flydown and land in the world of PUBG. Try taking everyone out. Guns and Glory! It's
                time to put those skills to the test. Both SOLO and SQUAD entries allowed.
                <br>
                <h5> when: <span class="price">day 1 & day 2</span></h5>
                <h5> entry fee: <span class="price"> ₹ 300 for Squad & ₹ 70 for Solo</span></h5>
                <h5> prize: <span class="price"> ₹ 3200</span></h5>


              </p>
              <a target="_blank" href="https://drive.google.com/file/d/1WxsyyH1ikjZ4AnFeFb3KIV-HFoQ9KIlR/view"
                class="btn reg-btn">
                rules </a>
              <a target="_blank" href="https://www.townscript.com/e/aadhya-gaming-station-122021"
                class="btn reg-btn">register for day
                1</a>
              <a target="_blank" href="https://www.townscript.com/e/copy-of-aadhya-gaming-station-122021"
                class="btn reg-btn">register
                for day 2</a>

            </div>
          </article>
          <!-- .end Card -->

        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">call of duty </h3>

              <p class="card-text">The war shall begin and a call for duty shall be made. Would you rise to the
                CHALLENGE? Time to get strapped, and test those skills.
                <br>
                <h5> when: <span class="price">day 1 & day 2</span></h5>
                <h5> entry fee: <span class="price"> ₹ 60</span></h5>
                <h5> prize: <span class="price"> ₹ 1000</span></h5>

              </p>
              <a target="_blank" href="https://drive.google.com/file/d/1WxsyyH1ikjZ4AnFeFb3KIV-HFoQ9KIlR/view"
                class="btn reg-btn">
                rules </a>
              <a target="_blank" href="https://www.townscript.com/e/call-of-duty-01-414330" class="btn reg-btn">register
                for day 1</a>
              <a target="_blank" href="https://www.townscript.com/e/copy-of-call-of-duty-01-414330"
                class="btn reg-btn">register for day
                2</a>

            </div>
          </article>
          <!-- .end Card -->

        </div>
        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">dota 2</h3>

              <p class="card-text">Time to jungle. Time to farm. Time to Blink??
                The DOTA 2 event presents to you with an opportunity to test your speed and skills. Both SOLO players
                and SQUADS are allowed.
                <br>
                <h5> when: <span class="price">day 1 & day 2</span></h5>
                <h5> entry fee: <span class="price"> ₹80 for solo & ₹370 for squad</span></h5>
                <h5> prize: <span class="price"> ₹ 4000</span></h5>

              </p>
              <a target="_blank" href="https://drive.google.com/file/d/1WxsyyH1ikjZ4AnFeFb3KIV-HFoQ9KIlR/view"
                class="btn reg-btn">
                rules </a>
              <a target="_blank" href="https://www.townscript.com/e/dota-2-333011" class="btn reg-btn">register for day
                1</a>
              <a target="_blank" href="https://www.townscript.com/e/copy-of-dota-2-333011" class="btn reg-btn">register
                for day 2</a>

            </div>
          </article>
          <!-- .end Card -->

        </div>


      </div>
    </div>





  </div>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- lottie script -->
  <script src="../scripts/lottie.js"></script>
  <!-- nav script -->
  <script src="../scripts/nav.js"></script>

  <!-- bootstrap CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>