<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrapcdn -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/owl.carousel.min.css" />
    <link rel="stylesheet" href="../styles/aos.css" />
    <link rel="stylesheet" href="../styles/events.css" />
    <script src="https://use.fontawesome.com/fc49d836e8.js"></script>
    <link rel="stylesheet" href="../styles/nav.css" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>
  <body>
    <!-- nav -->
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1 class="heading">
      events
    </h1>

    <!-- carousel -->

    <div class="custom-owl-carousel">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel slide-one-item-alt">
              <img
                src="../assets/images/events/competitions.jpeg"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="../assets/images/events/talk.jpeg"
                alt="Image"
                class="img-fluid"
              />
              <img
                src="../assets/images/events/workshop.jpeg  "
                alt="Image"
                class="img-fluid"
              />
              <img
                src="../assets/images/events/eca.jfif "
                alt="Image"
                class="img-fluid"
              />
            </div>

            <div class="owl-custom-direction">
              <a href="#" class="custom-prev"
                ><span><i class="fa fa-arrow-left" aria-hidden="true"></i></span
              ></a>
              <a href="#" class="custom-next"
                ><span
                  ><i class="fa fa-arrow-right" aria-hidden="true"></i></span
              ></a>
            </div>
          </div>

          <div class="col-lg-4 mr-auto" data-aos="fade-up">
            <div class="owl-carousel slide-one-item-alt-text">
              <div class="slide-text">
                <h1>competitions</h1>
                <br />
                <h6>bug squash</h6>
                <p>
                  for all of the developers who are irritated by bugs. So bring
                  your irritation to some use and help us squash those bugs.
                </p>
                <h6>down hill derby</h6>
                <p>whatever good things we build end up building us.</p>

                <h6>hover mania</h6>
                <p>
                  Another racing? You heard it right. But this time you will
                  design a hovercraft and race it against others both on the
                  land and water.
                </p>

                <p>
                  <a href="competitions.html" class="btn py-2 px-4"
                    ><i class="fa fa-plus-circle " aria-hidden="true"></i> 20
                    more challenging contests</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>talks</h1>
                <br />
                <h6>smart city</h6>
                <p>
                  we all want to live in a world, where we can live peacefully
                  and most importantly in harmony with nature. We can just hope
                  for a world close enough to a utopia.
                </p>
                <h6>hacking slash</h6>
                <p>
                  To make aware of how security is preached, and how to make
                  sure your system is secure, Adhaya presents you with a live
                  demonstration on Information Security.
                </p>

                <p>
                  <a href="talks.html" class="btn py-2 px-4"
                    ><i class="fa fa-plus-circle " aria-hidden="true"></i> 5
                    more informative sessions</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>workshops</h1>
                <br />
                <h6>drone development</h6>
                <p>
                  be the pilot you always wanted to be without succumbing to
                  vertigo.
                </p>
                <h6>deep learning</h6>
                <p>
                  if you want to break into AI, Deep learning is the most highly
                  sought after skills to pursue.
                </p>
                <h6>dev ops</h6>
                <p>
                  amazon deploys a new production code every 11.6 seconds. A few
                  years ago, this was unthinkable.
                </p>
                <p>
                  <a href="workshops.html" class="btn py-2 px-4"
                    ><i class="fa fa-plus-circle " aria-hidden="true"></i> 5
                    more hands-on experience.</a
                  >
                </p>
              </div>
              <div class="slide-text">
                <h1>extra curricular activities</h1>
                <br />
                <h6>games 'in-stall'ed</h6>
                <p>
                  Need a break from all the Tech-talks. We have fun party games
                  with a twist, all day every day with new games every few
                  hours. No hustle, on-spot registration for just ₹50 each. More
                  than 100 amazing prizes available.
                </p>
                <h6>gaming stations</h6>
                <p>
                  For all the gamers out there, here&#39;s your chance to rule
                  the battlefield. We have got PUBG, Call of Duty and DOTA2
                  tournaments held at “AADHYA 2020”. Get your squad and bag
                  yourself a chance to win up to ₹2000 cash prize.
                </p>

                <p>
                  <a href="eca.html" class="btn py-2 px-4"
                    ><i class="fa fa-plus-circle " aria-hidden="true"></i> 4
                    more enthralling challenges</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/owl.carousel.min.js"></script>
    <script src="../scripts/aos.js"></script>
    <script src="../scripts/events.js"></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
