<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/faq.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>
  <body>
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon"><div id="hamburger"></div></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" href="#">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1>frequently asked questions</h1>

    <div class="content">
      <div class="row ques-row animate-bot">
        <div class="col-md-3 ques-box">
          <h4 class="ques">will certificates be provided?</h4>
          <p>
            yes certificates will be provided if you participate in workshops
            and competitions.
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">How do I register for Aadhya 2020?</h4>
          <p>
            you can either register for individual events or buy combo packages
            (i.e. passes) for full day access.
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">Is there an entry fee?</h4>
          <p>
            some talks are free to attend but there is a price for participating
            in each workshop and competitions. you can also buy special passes
            which grant you full day access to events and stalls.
          </p>
        </div>
        <div class="col-md-3 ques-box">
          <h4 class="ques">
            where can i stay during techfest in RUAS?
          </h4>
          <p>
            our team will contact you once you register for the event. if you
            want an accomodation, it will be provided with minimal charges. (a
            small price to pay for salvation. :')
          </p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col-md-3 ques-box">
          <h4 class="ques">What to do after registering?</h4>
          <p>
            sit back and chill. our team will contact you shortly. make sure you
            book your transportation tho'.
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">Is parking available?</h4>
          <p>
            Yes. The parking lot will be allocated to you. unless it's not a
            chopper.
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">
            how many members should be there in a team during a team event
          </h4>
          <p>
            the number might vary for each event. although individual
            participation is encouraged.
          </p>
        </div>
        <div class="col-md-3 ques-box ">
          <h4 class="ques">
            Where is the venue of the event and how to reach there?
          </h4>
          <p>
            Ramaiah University of Applied Science, peenya 2nd stage, Bengaluru
            <br />P.S: c'mon you know how to use google maps. :)
          </p>
        </div>
      </div>
    </div>
    <!--jquery-->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/jquery-ui.js"></script>

    <!-- lottie for animations -->
    <script src="../scripts/lottie.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
