<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/guests.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon">
          <div id="hamburger"></div>
        </span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1>speakers</h1>

    <div class="content">
      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/speakers/kaggle.jpg"
            alt=""
          />
          <h4 class="guest-name">Usha Rengaraju</h4>
          <p>kaggle</p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/nikhil.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Nikhil P Kulkarni</h4>

          <p>
            IGS & Null BLR
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="https://avatars0.githubusercontent.com/u/8466045?s=460&v=4"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Rahul Bansal</h4>

          <p>
            Microsoft
          </p>
        </div>
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/speakers/pethuru.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Dr. Pethuru Raj</h4>

          <p>
            Jio
          </p>
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/speakers/navneet.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Navneet Deshpande</h4>

          <p>
            L&T Technologies
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/raja.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Mr Raja Ayyanar</h4>

          <p>
            Relecura Technologies Pvt LTD
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/ratnadeep.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Ratnadeep Dutta</h4>

          <p>
            INTEL
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/ravikiran.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Ravikiran Annaswamy</h4>

          <p>
            Numocity , Ex Chairman-IEEE
          </p>
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/speakers/shivakumar.png"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shivakumar</h4>

          <p>
            Multiplex Drones Ptv LTD
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/shankar.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shankar Venugopal</h4>

          <p>
            Mahindra
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/wing_commander.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Wing Commander (Retd) PK Raveendran</h4>

          <p>
            SC Former Group Director (Flight Test) NFTC, ADA
          </p>
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/speakers/RahulCadambi-869b0ae921aa844c9956c2c50b6a0f94.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Dr. Rahul M. Cadambi</h4>

          <p>
            Head of Composites Materials and technology Research Centre, RUAS
          </p>
        </div>
      </div>

      <div class="row ques-row animate-bot" style="margin-bottom: 30px;">
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/speakers/s nikhil.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">S Nikhil</h4>

          <p>
            HCL technologies
          </p>
        </div>

        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/speakers/depanshu tripathi.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Deepanshu Tripathi</h4>

          <p>
            Persistence One
          </p>
        </div>

        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/speakers/Abhitej.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Abhitej Singh</h4>

          <p>
            Persistence One
          </p>
        </div>
      </div>
    </div>
    <!--jquery-->
    <!-- lottie script -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/jquery-ui.js"></script>

    <!-- lottie for animations -->
    <script src="../scripts/lottie.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
