<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <!-- CSS AND OTHER BOOTSTRAP LINKS -->
    <!-- LINKED CSS -->
    <link rel="stylesheet" href="../styles/nav.css" />

    <link rel="stylesheet" href="../styles/hackathon.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />
    <!-- TITLE  -->
    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <nav
      class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon">
          <div id="hamburger"></div>
        </span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  active" href="#">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <!--  Main body -->
    <header class="imghead d-flex">
      <div class="container text-center my-auto">
        <h1><span>HACK</span>x<span>RUAS</span></h1>
        <h2>24-hour hackathon</h2>
        <h3>Ramaiah University of Applied Sciences</h3>

        <h4>29th feb - 1st March, 2020 <br />save the date</h4>

        <div class="register-btn data-tilt">
          <a
            class="register-link "
            target="_blank"
            href="https://www.townscript.com/e/24-hour-hackathon"
            >register.</a
          >
        </div>
      </div>
    </header>

    <!-- about HACKxRUAS -->
    <main class="fluid-container">
      <section class="row about-cont">
        <div class="row"><h1>about the hackathon</h1></div>
        <div class="row text-justify">
          <p class="col-md-8">
            <span class="green">Ramaiah University of Applied Sciences</span>
            presenting with pride a mega event, our very own ‘good ol’ fashioned
            hackathon 2020’ <span class="green">HACKxRUAS</span> because we want
            to provide our students with a platform to solve some of the
            pressing problems we face in our daily lives, and thus inculcate a
            culture of product innovation and a mindset of problem-solving. This
            newly initiated program is targeted at youths who are interested in
            learning how to come up with rural solutions and execute them, thus
            helping the society.
            <br />
            <br />
            For all those folks who don’t know:
            <span class="green"
              >A hackathon is a 24-48 hour marathon of building, creating,
              producing, delivering, and pitching a product, in a short amount
              of time.</span
            >
            During the 24 hours of this hackathon, you are expected to apply
            your skills to solve one of the problem statements given to you in
            some domain and provide a working product at the end of the 24
            hours. <br /><br />
            An essential thing about HACKxRUAS is that we have mentors from
            <span class="green"> BangPypers </span>and
            <span class="green">Crio.Do</span> . They will be available to guide
            you and help you think out of the box. So folks, grab your armour,
            your (k)nightsuit and your comrades because the code war of the year
            is coming. You can get a chance to win prizes worth
            <span class="green">100000 INR</span> and most importantly you will
            get a chance to build your network and strengthen your relation with
            people from the industry. Hurry Up! We've got limited registrations.
          </p>
        </div>
      </section>

      <!-- what we offer -->
      <section class="offer-cont row justify-content-end">
        <div class="row"><h1>what we offer?</h1></div>
        <div class="row text-justify justify-content-end">
          <p class="col-md-6">
            There are cash prizes worth <span class="green">1 Lakh</span> with a
            lot of goodies and software licenses to grab.
            <span class="bold"
              >The size of the team can be (Min: 2, Max: 4).</span
            >
            Dont have a team ? Dont worry, register for the hackathon and we
            will find you a <span class="green"> team on-spot!</span> There
            would be industry experts as mentors to guide you if you face any
            issues during the hackathon. Ready to face the test of time? GO and
            Register NOW !!
          </p>
        </div>
      </section>

      <section class="row why-section">
        <h1 class="why-heading">
          why attend <span class="green">HACKxRUAS</span> ?
        </h1>
        <div class="row">
          <div class="col-md-4 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/programmer.svg"
              alt=""
            />

            <h4>learn & build</h4>
          </div>
          <div class="col-md-4 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/team.svg"
              alt=""
            />
            <h4>network & network</h4>
          </div>
          <div class="col-md-4 why-col">
            <img
              class="why-img "
              src="../assets/images/hackathon/win.svg"
              alt=""
            />
            <h4>schwags & prizes</h4>
          </div>
        </div>
      </section>

      <!-- prizes -->
      <section class="row prize-section ">
        <h1 class="prize-heading">
          prizes
        </h1>
        <div class="row ">
          <div class="col-md-4 prize-col data-tilt">
            <h3 class="first-prize">1<sup>st</sup> prize</h3>
            <img
              class="prize-img "
              src="../assets/images/hackathon/cups/Gold_Cup.png"
              alt=""
            />
            <h4><sub>₹ </sub><span> 50,000</span></h4>
          </div>
          <div class="col-md-4 prize-col data-tilt">
            <h3 class="second-prize">2<sup>nd</sup> prize</h3>
            <img
              class="prize-img "
              src="../assets/images/hackathon/cups/Silver_Cup.png"
              alt=""
            />
            <h4><sub>₹ </sub><span> 20,000</span></h4>
          </div>
          <div class="col-md-4 prize-col data-tilt">
            <h3 class="third-prize">3<sup>rd</sup> prize</h3>

            <img
              class="prize-img "
              src="../assets/images/hackathon/cups/Bronze_Cup.png"
              alt=""
            />
            <h4><sub>₹ </sub><span> 10,000</span></h4>
          </div>
        </div>
      </section>

      <!-- tracks -->

      <section class="tracks-section">
        <h1 class="tracks-heading ">tracks</h1>
        <h5 class="tracks-subtitle">(click on each track to view more.)</h5>
        <div class="row tracks-row">
          <div class="col-md-4 track-content track-tilt">
            <a data-toggle="modal" data-target="#agritech">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 3.svg"
                alt=""
              />
            </a>

            <h2>AgriTech</h2>
          </div>

          <div class="col-md-4 track-content track-tilt">
            <a data-toggle="modal" data-target="#politics">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 1.svg"
                alt=""
              />
            </a>
            <h2>Transparency in Politics</h2>
          </div>
          <div class="col-md-4 track-content track-tilt">
            <a data-toggle="modal" data-target="#tech4challenged">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 2.svg"
                alt=""
              />
            </a>
            <h2>Tech for the Challenged</h2>
          </div>
        </div>
        <div class="row tracks-row">
          <div class="col-md-4  track-content track-tilt">
            <a data-toggle="modal" data-target="#futuremobility">
              <img
                class="tracks-img "
                src="../assets/images/hackathon/tracks/Asset 6.svg"
                alt=""
              />
            </a>
            <h2>Future Mobility</h2>
          </div>
          <div class="col-md-4 track-content track-tilt">
            <a data-toggle="modal" data-target="#piracy">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 5.svg"
                alt=""
              />
            </a>
            <h2>Piracy</h2>
          </div>
          <div class="col-md-4 track-content track-tilt">
            <a data-toggle="modal" data-target="#opentrack">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 4.svg"
                alt=""
              />
            </a>
            <h2>Open Track</h2>
          </div>
        </div>
      </section>

      <!-- modal data -->

      <!-- agritech -->

      <div
        class="modal fade"
        id="agritech"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                AgriTech
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 3.svg"
                alt=""
              />
              <p>
                The agriculture sector in India is one of the major contributors
                to the economy. 70% of the rural household depends on
                agriculture as the source of income. With the development of
                technology, communication, transportation and science,
                agriculture is now facing an evolution. If India’s GDP has to
                grow by 9-10% for the next few years, the revolution in
                agriculture will be a catalyst to such fast-paced growth. Can
                you hack a new trend in the field of agriculture? Drones?
                Eliminating the middleman? New mobility approach in farming?
                Bring it on! Hack a solution and be the reason for this change!
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn close-btn" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Transparency in Politics -->

      <div
        class="modal fade"
        id="politics"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Transparency in Politics
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 1.svg"
                alt=""
              />
              <p>
                “Open government is critical to an informed public, and an
                informed public is critical to democracy.” It is a truly
                challenging task to adopt transparency and bring reality to each
                and every person, especially when our population is edging 1.3
                Billion people. Transparency adds clarity and accountability to
                a system, that left unchecked, is prone to corruption Rumours,
                faulty information, accusations, miscommunications lead to a
                tangled web of fallacies. We live in the information age, and
                transparency in politics is something we deserve as citizens As
                we head into the next decade and hope that the youth will drive
                the political narrative of the country, this is a very important
                issue which needs to be solved. Mobile applications? BlockChain?
                Artificial Intelligence? Get a solution to the table and we'll
                reward you well!
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn close-btn" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Tech for the Challenged -->

      <div
        class="modal fade"
        id="tech4challenged"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Tech for the Challenged
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 2.svg"
                alt=""
              />
              <p>
                For every step we take into the future, technology seems to take
                leap simplifying human tasks and advancing at the same time. The
                one who possesses knowledge shall survive, but the rest are left
                behind. This track’s sole purpose is to help living beings with
                the help of technology. Tech for the specially-abled?
                Simplifying the user interfaces for the elderly? Prosthetics for
                animals? Find a problem, hack a solution!
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn close-btn" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Future Mobility -->

      <div
        class="modal fade"
        id="futuremobility"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Future Mobility
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 6.svg"
                alt=""
              />
              <p>
                Transportation, once dependent on foot or animals only, went
                through a revolution after the invention of the wheel, engines
                and mass production of vehicles. We now live in an era where
                mobility is advancing in ways one can't imagine, fighting
                climate change, automation, rovers on Mars and other spatial
                bodies, and even cars that get rated 5-star safety for Indian
                roads. Mobility of the future needs vision, guts, and creativity
                to adapt to the pace of our technological advancement. With the
                government giving a major push towards electric mobility, it
                will be the preferred mode of transport in the coming decade. Do
                you have what it takes to make an impact? Bring it on!
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn close-btn" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Piracy -->

      <div
        class="modal fade"
        id="piracy"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Piracy
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 5.svg"
                alt=""
              />
              <p>
                Originality and uniqueness of work are what gives credit to its
                maker. Be it a movie, song, a piece of writing or art, content
                makers and creators make so much effort in maintaining and
                securing their content from online pirates and from piracy.
                Piracy is a huge problem in the present day. Our generation does
                not believe in the credibility of the artist/creator or the
                originality. What matters is the content. We have the flashlight
                pointing at a problem. Can you bring us a solid solution?
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn close-btn" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Open Track -->
      <div
        class="modal fade"
        id="opentrack"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">
                Open Track
              </h5>

              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <img
                class="tracks-img"
                src="../assets/images/hackathon/tracks/Asset 4.svg"
                alt=""
              />
              <p>
                Questions many, answers none. Restricting your mind with a few
                tracks is not our intention. For every “why?”, we believe there
                should be a “why not?” and for every solution that exists we
                believe there should be a question. You think there's something
                problematic with the current trend and you can bring up a much
                better solution? We welcome you. Robotics? The solution to
                traffic? Game theory? Image Processing for deep space
                exploration? Anything and everything, this track is open for
                you.
              </p>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn close-btn" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- scripts -->

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!-- nav script -->
    <script src="../scripts/nav.js"></script>
    <script src="../scripts/hackathon.js"></script>

    <!-- bootstrap CDN -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
