<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrapcdn -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/owl.carousel.min.css" />

    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/passes.css" />

    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <!-- nav -->
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon">
          <div id="hamburger"></div>
        </span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="guests.html">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1 class="heading">
      passes
    </h1>
    <div class="passes-images">
      <a
        href="https://www.townscript.com/e/infinity-aadhya-2020-ruas"
        target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 1.png"
          alt=""
          data-tilt
      /></a>

      <a
        href="https://www.townscript.com/e/ultron-aadhya-2020-ruas-444031"
        target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 2.png"
          alt=""
          data-tilt
      /></a>

      <a
        href="https://www.townscript.com/e/homecoming-aadhya-2020-ruas"
        target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 3.png"
          alt=""
          data-tilt
      /></a>

      <a
        href="https://www.townscript.com/e/multiverse-aadhya-2020-444031"
        target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 4.png"
          alt=""
          data-tilt
      /></a>

      <a
        href="https://www.townscript.com/e/endgame-pass-aadhya-2020-212032"
        target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 5.png"
          alt=""
          data-tilt
      /></a>

      <a
        href="https://www.townscript.com/e/aadhya-2020-ruas-444031"
        target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 6.png"
          alt=""
          data-tilt
      /></a>
      <a href="https://www.townscript.com/e/antman-pass-401413" target="_blank"
        ><img
          class="data-tilt pass-img"
          src="../assets/images/passes/Artboard 7.png"
          alt=""
          data-tilt
      /></a>
    </div>

    <!-- scripts -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>

    <!-- lottie script -->
    <script src="../scripts/lottie.js"></script>
    <!--nav js-->
    <script src="../scripts/nav.js"></script>
    <script src="../scripts/passes.js"></script>
  </body>
</html>
