<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/sponsers.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon">
          <div id="hamburger"></div>
        </span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="teams.html">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1>our collaborators</h1>

    <div class="content">
      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/sponsers/crio.svg"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/Townscript Color Logo.svg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/CNLOGO.svg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
      </div>

      <h1>speakers from</h1>
      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/sponsers/intel.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/jio.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/ideck.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/bull.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/sponsers/numocity.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/relecura_logo.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/Townscript Color Logo.svg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/microsoft.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/l_t.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/mahindra.png"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
      </div>

      <h1>food and lodging</h1>
      <div class="row ques-row animate-bot">
        <div class="col-md-3 guest-box">
          <img
            src="../assets/images/sponsers/icecream-burger.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/pg.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
        <div class="col-md-3 guest-box ">
          <img
            src="../assets/images/sponsers/momo.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
        </div>
      </div>
    </div>
    <!--jquery-->
    <!-- lottie script -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/jquery-ui.js"></script>

    <!-- lottie for animations -->
    <script src="../scripts/lottie.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
