<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- CSS AND OTHER BOOTSTRAP LINKS -->
  <!-- LINKED CSS -->
  <link rel="stylesheet" href="../styles/nav.css" />

  <link rel="stylesheet" href="../styles/eventlist.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- TITLE  -->
  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guests.html">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hackathon.html">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborations</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="teams.html">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <!-- Entire Event list-->
  <div class="section body">
    <div class="top-container">
      <h1>
        talks
      </h1>

      <div class="buttons">
        <a class="btn" href="passes.html">click here for extra discount</a>
      </div>
    </div>


    <!-- content -->

    <div class="container m-t-md">
      <!-- First row -->
      <div class="row">

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Blockchain</h3>

              <p class="card-text">This new revolutionizing wave famously called web 3.0 is all around the internet.
                Everyone is talking about bitcoins, cryptocurrencies, mining, ledgers, contracts, the list goes on and
                on. What exactly are they? To answer this question, Aadhya presents to you with a talk on blockchain, to
                help you decipher this conundrum. Differences between cryptocurrency and blockchain, and much more.
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> speaker: <span class="price">Abhitej Singh, Persistence One</span></h5>
              </p>
              <a href="https://www.townscript.com/e/blockchain-414304" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Emerging Technologies</h3>

              <p class="card-text">The term emerging technology (ET) has been frequently used by IT professionals and
                academics. For example, NFC (near field communications), cloud computing, ambient intelligence, virtual
                reality, and social network websites are labeled as emerging technologies. However, little research has
                shed light on this term and specified its characteristics and what it means. The question of when a
                technology can be labeled as an emerging technology and when it can be labeled as a traditional and
                well-established technology remains. All these doubts can be answered in this talk on emerging
                technologies.
                <br>
                <h5> when: <span class="price">day 2 - Slot 0</span></h5>
                <h5> speaker: <span class="price">Dr Pethuru Raj, Jio</span></h5>
              </p>
              <a href="https://www.townscript.com/e/emerging-technologies-230422" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Hacking Slash</h3>

              <p class="card-text">A news headline read: Dangerous Netflix scam designed to harvest credit card
                information! Another read: The government raises threat level on ‘undetected’ email virus! As tech
                enthusiasts, these headlines are not just words. For us, these are real-life threats. To make aware of
                how security is breached, and how to make sure your system is secure, Aadhya in collaboration with Null
                BLR brings a demonstration on information security.
                <br>
                <h5> when: <span class="price">day 2 - 03:00 pm</span></h5>
                <h5> speaker: <span class="price">Nikhil P Kulkarni, Security Lead at IGS, NULL BLR chapter lead</span>
                </h5>
              </p>
              <a href="https://www.townscript.com/e/hacking-slash-120104 " class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Security Related</h3>

              <p class="card-text">
                <br>
                <h5> when: <span class="price">day 2</span></h5>
                <h5> speaker: <span class="price">Shrinivas, Merceded Benz</span></h5>
              </p>
              <a href="https://www.townscript.com/e/cyber-security-223340" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Quantum Computing</h3>

              <p class="card-text">Quantum supremacy? What is that? Sounds like Google is taking over the world. Quantum
                computing? What is that now? It sounds like something out of a science fiction novel. Having these
                questions going on and on in your head? Come and attend this talk on quantum computing, to know about
                the theory behind quantum computers, and why they are a big deal, possible impact, comparison with
                classical computers, potential roadmap of development, the future, and so much more.
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> speaker: <span class="price">Rahul Bansal, Microsoft</span></h5>
              </p>
              <a href="https://www.townscript.com/e/quantum-computing-022010" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Electric Mobility in India</h3>

              <p class="card-text">Here’s a fact you would want to know, there is a vision by our government of having
                100% electric vehicles (EV) by 2030. A significant push towards EVs will be led by the public
                transportation requirements in India – Fleet cars, E-Buses, three-wheelers, and two-wheelers. Well, how
                do you want to contribute to bringing this vision to life? So to give you some light in the right
                direction, we have organized a Tech Talk on Electric Mobility by people from EV OEMs. Join this event,
                and we will make sure that you get the most out of this talk.
                <br>
                <h5> when: <span class="price">day 2 - 09:00 am</span></h5>
                <h5> speaker: <span class="price">Ravikiran Annaswamy, Founder & CEO of Numocity
                  Ex-Chairman of IEEE Bangalore</span></h5>
              </p>
              <a href="https://www.townscript.com/e/electric-mobilitytalk-324003" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">World of VLSI</h3>

              <p class="card-text">Aadhya brings to you an interactive session on basics of VLSI to familiarise
                students/audience with hardware description languages such as VHDL, Verilog along with demonstration of
                testing and physical design of ICs and discussion regarding recent developments and applications in the
                field of VLSI.
                <br>
                <h5> when: <span class="price">day 2 - 03:00 pm</span></h5>
                <h5> speaker: <span class="price">Ratnadeep Dutta, Intel</span></h5>
              </p>
              <a href="https://www.townscript.com/e/vlsi-021042" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">A flight with wing commnader</h3>

              <p class="card-text">Aadhya brings to you a tech talk on pilot experience. It is a technical level
                talk-cum-interaction with Wing Commander from the Indian Air Force. The talk will be about his
                experience in the field. A substantial amount of insight will be given about the current situation in
                the field and what is expected of the next generation engineer (YOU). It will be an interactive talk,
                and interested students must attend this to get their idea of their passion straight. The entry fee is ₹
                100. So grab your seatbelts and get ready to take-off!!
                <br>
                <h5> when: <span class="price">day 2 - 11:00 am</span></h5>
                <h5> speaker: <span class="price">Wing Commander (Retd) PK Raveendran, SC Former Group Director (Flight Test) NFTC, ADA</span></h5>
              </p>
              <a href="https://www.townscript.com/e/tech-talk-122112" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Automobile with Mahindra</h3>

              <p class="card-text">Innovation is worth spreading. Aadhya brings to you a tech talk by Vice President of
                Mahindra and Mahindra Valley, Dr Shankar Venugopal. He was the Director of Technology Planning at
                Cummins Inc, the innovation leader at Honeywell Technology and the Principal Scientist/GM R&D at Dow
                Chemical International Pvt. Ltd
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> speaker: <span class="price">Shankar Venugopal, Mahindra</span></h5>
              </p>
              <a href="https://www.townscript.com/e/automobile-with-mahindra" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Smart City Talk</h3>

              <p class="card-text">A smart city is a designation given to a city that incorporates information and
                communication technologies (ICT) to enhance the quality and performance of urban services such as
                energy, transportation, and utilities to reduce resource consumption, wastage, and overall costs. The
                talk will be delivered by one of the leading constructors in Karnataka; VP of iDeCK - Infrastructure
                Development Corporation (Karnataka) Ltd. which will give detailed knowledge about the various ways of
                construction for a smart and sustainable environment.
                <br>
                <h5> when: <span class="price">Day 1, 11:30 am</span></h5>
                <h5> speaker: <span class="price">Mruthyunjaya S M, iDeCK</span></h5>
              </p>
              <a href="https://www.townscript.com/e/smart-city-211304" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">3D Printing</h3>

              <p class="card-text">
                <br>
                <h5> when: <span class="price">Day 3</span></h5>
                <h5> speaker: <span class="price"> </span></h5>
              </p>
              <a href="#" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Design Thinking</h3>

              <p class="card-text">
                <br>
                <h5> when: <span class="price">Day 3</span></h5>
                <h5> speaker: <span class="price"> </span></h5>
              </p>
              <a href="#" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Mental Health</h3>

              <p class="card-text">
                <br>
                <h5> when: <span class="price">Day 3</span></h5>
                <h5> speaker: <span class="price"> </span></h5>
              </p>
              <a href="#" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>


      </div>
    </div>





  </div>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- lottie script -->
  <script src="../scripts/lottie.js"></script>
  <!-- nav script -->
  <script src="../scripts/nav.js"></script>

  <!-- bootstrap CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>