<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../styles/guests.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <!-- FAVICON  -->
    <link rel="icon" href="../favicon.png" sizes="64x64" />

    <title>Aadhya - evolve . engage . elevate</title>
  </head>

  <body>
    <nav
      class="navbar nav-masthead navbar-expand-sm fixed-bottom animate-bottom"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsingNavbarLg"
      >
        <span class="navbar-toggler-icon">
          <div id="hamburger"></div>
        </span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbarLg">
        <ul class="navbar-nav nav">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus.html">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events.html">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="#">Speakers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hackathon.html">Hackathon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="passes.html">Passes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="faq.html">Faq</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " href="#">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="findus.html">Find us</a>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </nav>

    <h1>Teams</h1>

    <div class="content">
      <h2>Faculty</h2>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/nitin p rao.jpeg"
            alt=""
          />
          <h4 class="guest-name">Mr. Nithin Rao R</h4>
          <p></p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            src="../assets/images/team/Dayananda.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Mr. B.S. Dayananda</h4>

          <p></p>
        </div>
      </div>

      <h2>Core Committee</h2>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            src="../assets/images/team/rishabh.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Rishabh</h4>

          <p>
            Chair
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/Chirag Mittal.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Chirag</h4>

          <p>
            Vice-Chair
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/arvind.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Aravind</h4>

          <p>
            Vice-Chair
          </p>
        </div>
      </div>

      <h2>Technical Team</h2>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Eshwer_Aaditya.jpg"
            alt=""
          />
          <h4 class="guest-name">Eshwer R</h4>
          <p>Head</p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Jagat Raj Joshi.jpeg"
            alt=""
          />
          <h4 class="guest-name">Jagat</h4>
          <p>Assoc. Head</p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145852.svg"
            alt=""
          />
          <h4 class="guest-name">Deeksha Rao</h4>
          <p>Lead - ASE + AE</p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            alt=""
          />
          <h4 class="guest-name">Nandeesh Ragav T</h4>
          <p>Deputy Lead - ASE + AE</p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145852.svg"
            alt=""
          />
          <h4 class="guest-name">Sampritha Reddy</h4>
          <p>Lead - CE</p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            alt=""
          />
          <h4 class="guest-name">Mohit Danolli</h4>
          <p>Deputy Lead - CE</p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/shyamant.jpeg"
            alt=""
          />
          <h4 class="guest-name">Shyamant Achar</h4>
          <p>Lead - CSE</p>
        </div>

        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/sejal.jpeg"
            alt=""
          />
          <h4 class="guest-name">Sejal Chowdhury</h4>
          <p>Deputy Lead - CSE</p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Anuraag Vasisht.jpg"
            alt=""
          />
          <h4 class="guest-name">Anuraag S. Vasisht</h4>
          <p>Lead - ME</p>
        </div>

        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Sparsh Rai.jpg"
            alt=""
          />
          <h4 class="guest-name">Sparsh Rai</h4>
          <p>Deputy Lead - ME</p>
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145852.svg"
            alt=""
          />
          <h4 class="guest-name">Niveditha J</h4>
          <p>Lead - ECE + EEE</p>
        </div>

        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Bhavana_P.jpg"
            alt=""
          />
          <h4 class="guest-name">Bhavana P</h4>
          <p>Deputy Lead - ECE + EEE</p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Palak goel .jpg"
            alt=""
          />
          <h4 class="guest-name">Palak goel</h4>
          <p>Deputy Lead - ECE + EEE</p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145852.svg"
            alt=""
          />
          <h4 class="guest-name">Sanjeevini Mehandale</h4>
          <p>Lead - ECA</p>
        </div>

        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            alt=""
          />
          <h4 class="guest-name">Vraj Gandhi</h4>
          <p>Deputy Lead - ECA</p>
        </div>
      </div>

      <h2>Marketing & Management Team</h2>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/isha gupta.jpeg"
            alt=""
          />
          <h4 class="guest-name">Isha Gupta</h4>
          <p>Head</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Gaurav</h4>

          <p>
            Assoc. Head
          </p>
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/Tanisha singh.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Tanisha Singh</h4>

          <p>
            Lead - Sponsorship
          </p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Saundharya Thejaswini_.jpg"
            alt=""
          />
          <h4 class="guest-name">R S Saundharya Thejaswini</h4>
          <p>Lead - Guest Handlers</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145852.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Kaavya Venugopal</h4>

          <p>
            Deputy Lead - Guest Handlers
          </p>
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            alt=""
          />
          <h4 class="guest-name">Prashwar Mishra</h4>
          <p>Lead - Finance</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/Pallavi Sharma.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Pallavi Sharma</h4>

          <p>
            Deputy Lead - Finance
          </p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/alok.jpeg"
            alt=""
          />
          <h4 class="guest-name">Alok Kumar Singh</h4>
          <p>Lead - Hospitality</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/SHREYA_SINGH.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shreya Singh</h4>

          <p>
            Deputy Lead - Hospitality
          </p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            alt=""
          />
          <h4 class="guest-name">Nikhil Abhishek John</h4>
          <p>Lead - Physical Campaign</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/SHIVAM_SINGH.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shivam Singh</h4>

          <p>
            Deputy Lead - Physical Campaign
          </p>
        </div>
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/AryanJalali.jpg"
            alt=""
          />
          <h4 class="guest-name">Aryan Jalali</h4>
          <p>Lead - Social Media</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/Animesh Srivastava.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Animesh Srivastava</h4>

          <p>
            Deputy Lead - Social Media
          </p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/vivek.jpeg"
            alt=""
          />
          <h4 class="guest-name">Vivek Badani</h4>
          <p>Lead - Event Management</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/Shubham jain.jpg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shubham</h4>

          <p>
            Deputy Lead - Event Management
          </p>
        </div>
      </div>

      <h2>Design & Content Team</h2>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            class="profile-img mx-auto"
            src="../assets/images/team/Pareshi Rajveer.jpg"
            alt=""
          />
          <h4 class="guest-name">Pareshi Rajveer</h4>
          <p>Head</p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Ashwath Stephen</h4>

          <p>
            Assoc. Head
          </p>
        </div>
      </div>

      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/vishal.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Vishal</h4>

          <p>
            Lead - Video Editing
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145852.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Chelsea</h4>

          <p>
            Deputy Lead - Video Editing
          </p>
        </div>

        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Pratyush Duklan</h4>

          <p>
            Lead - Content Wrting
          </p>
        </div>
      </div>

      <h2>Filmography Team</h2>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Ashish</h4>

          <p>
            Head
          </p>
        </div>
      </div>
      <div class="row ques-row animate-bot">
        <div class="col col-md-3 guest-box">
          <img
            src="../assets/images/team/KRTIN PATIL.JPG"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Kritin</h4>

          <p>
            Lead - Videography
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/SRIKAR.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Srikar</h4>

          <p>
            Deputy Lead - Videography
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="https://image.flaticon.com/icons/svg/145/145867.svg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Akshat</h4>

          <p>
            Lead - Photography
          </p>
        </div>
      </div>

      <h2>Website & App Team</h2>
      <div class="row ques-row animate-bot developer-team">
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/shikhar.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shikhar</h4>

          <p>
            Website
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/subhendu.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Subhendu</h4>

          <p>
            Website
          </p>
        </div>

        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/shyamant.jpeg"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Shyamant</h4>

          <p>
            App
          </p>
        </div>
        <div class="col col-md-3 guest-box ">
          <img
            src="../assets/images/team/Tanishq.png"
            class="profile-img mx-auto"
            alt=""
          />
          <h4 class="guest-name">Tanishq</h4>

          <p>
            App
          </p>
        </div>
      </div>
    </div>
    <!--jquery-->
    <!-- lottie script -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.js"
      integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
      crossorigin="anonymous"
    ></script>
    <script src="../scripts/jquery-ui.js"></script>

    <!-- lottie for animations -->
    <script src="../scripts/lottie.js"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <!--nav js-->
    <script src="../scripts/nav.js"></script>
  </body>
</html>
