<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- CSS AND OTHER BOOTSTRAP LINKS -->
  <!-- LINKED CSS -->
  <link rel="stylesheet" href="../styles/nav.css" />

  <link rel="stylesheet" href="../styles/eventlist.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <!-- FAVICON  -->
  <link rel="icon" href="../favicon.png" sizes="64x64" />

  <!-- TITLE  -->
  <title>Aadhya - evolve . engage . elevate</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar nav-masthead  navbar-expand-sm fixed-bottom animate-bottom">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbarLg">
      <span class="navbar-toggler-icon">
        <div id="hamburger"></div>
      </span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbarLg">
      <ul class="navbar-nav nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="aboutus.html">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="events.html">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guests.html">Speakers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hackathon.html">Hackathon</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="passes.html">Passes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sponsers.html">Collaborators</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="faq.html">Faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="teams.html">Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="findus.html">Find us</a>
        </li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </nav>

  <!-- Entire Event list-->
  <div class="section body">
    <div class="top-container">
      <h1>
        workshops
      </h1>

      <div class="buttons">
        <a class="btn" href="passes.html">click here for extra discount</a>
      </div>
    </div>


    <!-- content -->

    <div class="container m-t-md">
      <!-- First row -->
      <div class="row">

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Deep Learning</h3>

              <p class="card-text">
                If you want to break into AI, Deep Learning is the most highly sought after skill to
                pursue. As deep as it goes, it is always a good idea to have a firm beginning and smoothly follow up. We
                bring to you a two-day workshop on Deep Learning which will introduce you to the world of AI and take
                you on a journey. You will be given thorough explanations in a way simple enough for anyone to
                understand. This workshop is perfect for you if you are an AI enthusiast. Students are required to bring
                their laptops and personal hotspot and join this event. In the end, we assure you that you would have
                garnered enough knowledge to start walking on the Deep Learning journey.
                <br>
                <h5> when: <span class="price">day 1-11:30 am</span></h5>
                <h5> speaker: <span class="price"> Shadab Hussain  <br>
                  Shubham Agnihotri <br>
                  Anil Matcha, samsung </span></h5>
              </p>
              <a href="https://www.townscript.com/e/deep-learning-140133 " class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">App Development</h3>

              <p class="card-text">Someone said that the current manifestation has to be web and mobile application
                development, and the future of computing is ubiquitous computing. We all can agree with that, right?
                Want to be an app developer? Join this workshop and we will teach you everything from smooth
                performance, speed, UI design, protection, security, flexibility and all you need to know in the process
                of developing an app. The environment will be Android Studio. Just Students are required to bring their
                laptops and leave it to us with the responsibility to provide you the best experience. This event is
                going to be a two-day workshop. Join us and you will walk home with a mobile application to add to your
                profile.
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> speaker: <span class="price"> Hasnen Tai,Toshiba</span></h5>
              </p>
              <a href="https://www.townscript.com/e/app-dev-400323" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Introduction to Kaggle</h3>

              <p class="card-text">Kaggle is a platform where beginners and experts, data scientists, deep learning
                enthusiasts, and researchers compete to solve problems, practice and share knowledge. Want to know how
                to get into this vast community? Want to know the various tools used by top Kagglers? Get introduced to
                the amazing world of data science in Kaggle by this workshop!
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> speaker: <span class="price">Usha Rengaraju, Infinite-Sum modelling</span></h5>
              </p>
              <a href="https://www.townscript.com/e/intro-to-kaggle-314432" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Cloud Computing + DevOps</h3>

              <p class="card-text">Steve Jobs was a visionary who said, "I don't need a hard disk in my computer if I
                can get to the server faster." Amazon deploys a new production code every 11.6 seconds. Sounds
                impossible? Not anymore. Cloud Computing has revolutionized enterprise computing systems in significant
                ways. Combined with continuous integration and a delivery pipeline, the impossible becomes possible.
                This workshop will throw light on the technologies behind it and give you hands-on practice with various
                tools used. What are you waiting for? Are you ready to join and learn about the next generation of
                trust?
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am</span></h5>
                <h5> speaker: <span class="price"> IBM</span></h5>
              </p>
              <a href="https://www.townscript.com/e/cloud-computing-000131" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">IOT</h3>

              <p class="card-text">The Internet of things is the current trend, “everything" can be controlled by just
                connecting them to the network!
                The participants will be in a two day hands-on session focusing on using Raspberry Pi (on Linux),
                embedded basics with GPIO, interfacing LCD and sensors, communication protocols (I2C, SPI etc), a
                session on database (MySQL) and python scripts, MQTT, Open cloud and socket programming along with
                projects such as Monitoring of Temperatures. Ultrasonic distance measurement for disabled. Distance
                measurement data to Server using MQTT to the subscribers. Participants will also be given one takeaway
                kit for a group of 4 participants. <br>
                Pre-requisites: <br> 1) Win32 Disk Imager <br> 2) Putty <br> 3) Vnc Viewer
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am</span></h5>
                <h5> speaker: <span class="price">Navneet Deshpande, L&T Technologies</span></h5>
              </p>
              <a href="https://www.townscript.com/e/iot-workshop-442212" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Image Processing with AI</h3>

              <p class="card-text">Image processing was a recent addition to the field of computer science after
                computational power was massive enough to get down to the pixels of an image and map them
                mathematically. An introduction to Image processing, transformations on an image, Machine learning with
                Image processing by Raja Ayyanar, a research scientist from Relecura Technologies Pvt LTD.
                <br>
                <h5> when: <span class="price">day 1 -11:30 am</span></h5>
                <h5> speaker: <span class="price">Raja Ayyanar ,Relecura Technologies Pvt LTD & Mr. S Nikhil, HCL Technologies</span></h5>
              </p>
              <a href="https://www.townscript.com/e/dip-ai-014201" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Drone Development</h3>

              <p class="card-text">Aadhya brings to you a two day workshop on Drone development. You will be introduced
                to the potential and necessity of drones now and in the future. This event will include hands-on
                practice using live drones. The discussion includes an explanation of the aerodynamics of drone blades,
                a range of flight, and the landing. The hands-on training includes assembling a drone, learning how to
                determine the scope and have a safe landing. All the pilots and drone enthusiasts looking forward to
                grabbing the joystick and to go for a ride are invited to be a part of this workshop and learn from
                industrious people. And at the end of the day, learn the basics of UAVs, Build it, pilot it.. And take
                away a glorifying certificate that showcases your skill-set in the field of UAVs.
                <br>
                <h5> when: <span class="price">day 1 - 11:30 am </span></h5>
                <h5> speaker: <span class="price">Shivakumar, Multiplex Drones Ptv LTD</span></h5>
              </p>
              <a href="https://www.townscript.com/e/drone-development-411244" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Balsa Wood Glider</h3>

              <p class="card-text">Aadhya brings to you a workshop on aeromodelling using balsa wood. Understand, learn
                and build a balsa wood glider. Balsa wood will be provided. This is an opportunity to learn the basics
                of aeromodelling,
                <br>
                <h5> when: <span class="price">Day 3</span></h5>
                <h5> speaker: <span class="price">Shivakumar, Multiplex Drones Ptv LTD</span></h5>
              </p>
              <a href="https://www.townscript.com/e/balsa-workshop-140102" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">Composite Materials</h3>

              <p class="card-text">Aadhya brings to you a workshop on manufacturing composite structures. You will be
                introduced to composite materials and applications, tour of labs and production areas in Valdel Advanced
                Technologies with hands on experience on the Hand lay process. All safety wear like goggles, gloves,
                etc. will be provided by the organizer.
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am,2</span></h5>
                <h5> speaker: <span class="price">Dr. Rahul M. Cadambi,Head of Composites Materials and technology
                    Research Centre, RUAS</span></h5>
              </p>
              <a href="https://www.townscript.com/e/composite-materials-workshop-442022"
                class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

        <div class="col-xs-12 col-md-4">
          <!-- Card -->
          <article class="card">
            <div class="card-block">
              <h3 class="card-title">CAD</h3>

              <p class="card-text">
                <br>
                <h5> when: <span class="price">day 2 - 11:30 am,2</span></h5>
                <h5> speaker: <span class="price"></span></h5>
              </p>
              <a href="#" class="btn reg-btn">register.</a>
            </div>
          </article>
          <!-- .end Card -->
        </div>

      </div>
    </div>





  </div>

  <!-- scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>

  <!-- lottie script -->
  <script src="../scripts/lottie.js"></script>
  <!-- nav script -->
  <script src="../scripts/nav.js"></script>

  <!-- bootstrap CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>