/* ASSINGING COLOR VARS AND FONT FAMILY */

:root {
  --black: #070507;
  --white: #e5e5e5;
  --blue: #1089ff;
  --greenu: #50d890;
}

@font-face {
  font-family: ig-regular;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: ig-italic;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Italic.otf);
}

@font-face {
  font-family: ig-bold;
  src: url(../assets/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}

/* download buttons */

.flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.app-btn {
  width: 45%;
  max-width: 160px;
  color: var(--white);
  margin: 20px 10px;
  text-align: left;
  border: 1px solid var(--white);
  border-radius: 5px;
  text-decoration: none;
  font-family: "ig-regular";
  font-size: 12px;
  text-transform: uppercase;
}

.app-btn.blu {
  /* background-color:; */
  -webkit-transition: background-color 0.25s linear;
  transition: background-color 0.25s linear;
}

.app-btn.blu:hover {
  background-color: var(--grey);
}

.app-btn p {
  margin: 5px;
  /* text-align: center; */
}

.app-btn i {
  width: 20%;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  margin-right: 7px;
}

.app-btn .big-txt {
  font-size: 17px;
  text-transform: capitalize;
  font-weight: bold;
}

/* BACKGROUND */

*,
body {
  padding: 0;
  margin: 0;
  /* height: 100vh; */
  /* background-color: var(--black); */
}

body {
  overflow: hidden !important;
  font-family: "ig-regular";
}

/* LOADER */

#loader {
  width: 100%;
  height: 100vh;
  background: var(--black);
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#loadingDiv {
  margin: 0;
  padding-top: 6em;
  text-align: center;
  width: 50% !important;
  background-color: var(--black);
  overflow: hidden !important;
}

#logo {
  width: 42em;
  height: auto;
  /* background: transparent; */
}

/* CLOCK ANIMANTION */

#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: var(--black);
  display: inline-block;
}

#clockdiv div > span {
  padding: 8.5px;
  border-radius: 3px;
  background: var(--black);
  display: inline-block;
}

.smalltext {
  padding-top: 5px;
  font-size: 16px;
}

/* CURSOR PARALLEX */

.data-tilt {
  display: flex;
  justify-content: center;
  background-color: transparent !important;
  height: 100%;
  width: 50%;
  transform-style: preserve-3d;
  transform: translateZ(50px);
}

@media only screen and (max-width: 1620 px) {
  .data-tilt {
    width: 40%;
  }
  #logo {
    width: 100% !important;
  }
}

/* REGISTER BUTTON */

.register {
  z-index: 2 !important;
  display: inline-block;
  margin: auto;
  padding: 16px 24px 17px;
  background-color: var(--blue);
  border: none;
  color: var(--white);
  text-decoration: none;
  outline: none;
  font-size: larger;
  font-weight: 800;
  text-decoration: none;
  font-family: "ig-regular";
}

.register:hover {
  background-color: var(--white);
  text-decoration: none;
}

/* AUDIO BUTTON */

.audio {
  z-index: 2 !important;
  margin: auto;
  background: transparent !important;
  padding: 16px 24px 17px;
  border: none;
  outline: none !important;
}

#audio-btn {
  width: 30px !important;
}

.audio-btn-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.audio-btn-container > p {
  color: var(--white);
  font-family: "ig-regular";
  margin: 2px 0px;
}

/* LANDING PAGE IMAGES */

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--black); */
}

.intro img {
  z-index: -10 !important;
  width: 50%;
}

/* TYPING EFFECT TEXT */

.typewriter {
  display: flex;
  flex-wrap: wrap;
  border-color: var(--black);
  background-color: transparent !important;
  align-items: center;
  justify-content: center;
}

.typewriter > span {
  color: var(--blue);
  background-color: transparent !important;
}

.typewriter {
  position: relative;
  font-size: 28px;
  color: var(--white);
  text-align: center;
  font-family: "ig-regular";
  margin: 0 auto;
}

.bold {
  font-family: "ig-bold";
}

.team-href {
  color: var(--greenu) !important;
}

.team-href:hover {
  text-decoration: none;
  color: var(--blue) !important;
}

/* Add animation to "page content" */

#overlay {
  height: 100vh;
  width: auto;
  background-color: var(--black);
  opacity: 0.7;
  display: none;
  position: fixed;
  z-index: 50000;
}

#myDiv {
  display: none;
  background-image: url(../assets/images/group-img.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.animate-bottom {
  position: relative;
  -webkit-animation: animatebottom 1s;
  animation: animatebottom 1s;
}

.animate-bottom-1 {
  position: relative;
  -webkit-animation: animatebottom 1s ease 0.5s both;
  animation: animatebottom 1s ease 0.5s both;
}

.animate-bottom-2 {
  position: relative;
  -webkit-animation: animatebottom 1s ease 1s both;
  animation: animatebottom 1s ease 1s both;
}

.animate-bottom-3 {
  position: relative;
  -webkit-animation: animatebottom 1s ease 1.5s both;
  animation: animatebottom 1s ease 1.5s both;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

/* RESPONSIVE MEDIA  */

@media only screen and (max-width: 700px) {
  body {
    overflow: hidden;
    overflow-x: hidden;
  }
  #loadingDiv {
    padding-top: 10em !important;
  }
  #myDiv {
    background: url(../assets/images/group-img.jpeg) no-repeat center center
      fixed;
    background-size: cover;
  }
  #logo {
    width: 100%;
  }
  .audio-btn-container > p {
    font-size: 0.6rem;
  }
  .intro {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* align-items: center; */
  }
  .nav-link {
    padding-right: 3rem !important;
  }
  .intro img {
    width: 80%;
    height: 20%;
  }
  .typewriter {
    font-size: 20px;
    margin: 0 auto;
  }
  .small-width {
    font-size: 13.5px;
  }
  button > span {
    text-decoration: none;
    color: var(--black);
    background-color: var(--white);
  }
  .register {
    padding: auto auto auto;
    font-weight: 400;
    font-size: 15px;
  }
  .data-tilt {
    width: 80%;
  }
  #clockdiv {
    display: inline-block;
    text-align: center;
    padding: 5px;
    font-size: 20px;
  }
  #clockdiv > div {
    padding: 5px;
    font-size: 20px;
  }
  #clockdiv div > span {
    padding: 10px;
  }
  .smalltext {
    width: 50%;
    font-size: 15px;
    text-align: center;
  }
}
